body {
  font-family: Signika Negative, sans-serif;
  font-weight: 300;
  color: white;
  background-color: black;
  text-align: center;
}

#proseccoImg {
  width: 550px;
  height: 500px;
  background-color: #EAD9AB;
  display: flex !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 550px;
  max-height: 500px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bg {
	  background-color:#000;
  position:relative;
	  overflow:hidden;
  display:inline-block;
	  width:500px;
	  height:70px;
	  border-radius: 8px;
	  border: 2px solid #777;
}
#text {
  	position:absolute;
  	text-align:center;
  	width:500px;
  	height:70px;
	  line-height:68px;
  font-size: 28px;
}
#text span {
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing:antialiased;
  	position:relative;
	  display:inline-block;
	  color:#FFF;
}
