#proseccoImg {
  width: 550px;
  height: 500px;
  background-color: #EAD9AB;
  display: flex;
}

img {
  max-width: 550px;
  max-height: 500px;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
